// Colors
$body-background: rgb(250, 251, 255);
$CTA-button-background: rgb(41, 51, 86);
$discount-background: rgb(254, 236, 231);
$empty-bar-background: rgb(234, 238, 251);
$filled-bar-background: rgb(165, 243, 235);
$main-background: rgb(255, 255, 255);
$slider-background: rgb(16, 213, 194);
$slider-background-hover: rgb(165, 243, 235);
$toggle-background: rgb(205, 215, 238);
$toggle-background-hover: rgb(165, 243, 235);
$toggle-button-background: rgb(255, 255, 255);
$word-color-1: rgb(255, 140, 102);
$word-color-2: rgb(133, 143, 173);
$word-color-3: rgb(41, 51, 86);
$word-color-4: rgb(255, 255, 255);